a{
    font-size: 2rem;
}


.container{
    margin-top: 80px;
}
.img-container{
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
        }
.jombotron{
    color: #2c3e50;
    font-size: 1.7rem;
    background: rgb(247, 248, 249);
    
        }
.navbar{
background: #2c3e50;
color: white;
        }
.navbar >a {
font-size: 2rem;
        }
@media screen and (min-width:480px){
  .img-container{
      margin: 0 auto;
      display: grid;
      justify-content: center;
      margin-bottom: 20px;
      width: 100%;
  }  
}